/*
 * style.css
 * Style sheet for the website
 * Stephan Gahima
*/


/*@import url("/static/css/color-palette.css");*/


:root {
  /* Color palette */
  --black: #222831;
  --white: #f7f0f5;
  --pink: #f72585;
  --blue: #4361ee;
  --light-blue: #4cc9f0;   

  /* Size */
  --page-width: 1000px;
  --page-max-height: 800px;
  --footer-max-height: 100px;
  --percent-height: 90%;
  --deg: 180deg;
  --line-width-thin: 1px;
  --line-width-thick: 5px;

  --transition-time: 0.3s;

  --font-sz-title: 1.2em;
  --font-sz-txt: 1em;

  --padding: 10px;
  --margin: 10px;
}

body {
  width: var(--page-width);
  max-height: var(--page-max-height);
  background-color: var(--black);
  color: var(--white);
  margin: auto;
  overflow: auto;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-sz-txt);
}

footer {
  height: 5vh;
  max-height: var(--footer-max-height);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: calc(2 * var(--padding));
  padding-bottom: var(--padding);
  border-top: var(--line-width-thin) solid var(--light-blue);
}

footer:hover {
  border-top: var(--line-width-thin) solid var(--pink);
}

small {
  margin: calc(.25 * var(--margin));
}

th {
  text-align: center;
  font-size: var(--font-sz-title);
}

.page-container {
  height: 90vh;
  max-height: calc(var(--page-max-height) - var(--footer-max-height));
  display: flex;
  padding-top: var(--padding);
  padding-right: var(--padding);
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: var(--padding);
  padding-left: var(--padding);
}

/* 
 * This allows to inject the HTML in 'contact-info.html'
 * to all page but 404.html.
 *
 * TODO:
 * - Fix redundant code (identical to .sidebar)
 */
.sidebar-404 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: var(--padding);
  padding-left: var(--padding);
}

.content {
  flex: 5;
  padding-top: var(--padding);
  padding-bottom: var(--padding); 
}

.section {
  padding-top: var(--padding);
  padding-left: var(--padding);
}

.section-title
{
  color: var(--light-blue);
}

.key-concepts {
  padding-top: var(--padding);
  padding-bottom: calc(.5 * var(--padding));
  text-align: left;
}

.ext-link
{
  color: var(--white);
  border-bottom: calc(2 * var(--line-width-thin)) solid var(--blue);
  width: 0%;
  text-decoration: none;

  transition: width var(--transition-time);
  transition: color var(--transition-time);
  transition: text-decoration var(--transition-time);
  transition: background-color var(--transition-time);
  transition: padding-left var(--transition-time);
  transition: padding-right var(--transition-time);
}

.int-link {
  color: var(--pink);
  width: 0%;
  text-decoration: none;

  transition: width var(--transition-time);
  transition: color var(--transition-time);
  transition: text-decoration var(--transition-time);
  transition: background-color var(--transition-time);
  transition: padding-left var(--transition-time);
  transition: padding-right var(--transition-time);
}

.ext-link:hover
{
  color: var(--black);
  border-bottom: calc(2 * var(--line-width-thin)) solid var(--pink);
  width: 100%;
  text-decoration: none;

  background-color: var(--light-blue);
  padding-left: calc(.5 * var(--padding));
  padding-right: calc(.5 * var(--padding));;
}

.int-link:hover {
  color: var(--black);
  border-bottom: calc(2 * var(--line-width-thin)) solid var(--blue);
  width: 100%;
  text-decoration: none;

  background-color: var(--light-blue);
  padding-left: calc(.5 * var(--padding));;
  padding-right: calc(.5 * var(--padding));;
}

.ext-link,
.int-link {
  transition-timing-function: ease-in-out;
}

.download-link {
  color: var(--pink);
  text-decoration: none;
}

.bio {
  display: none;
  width: 100%;
}

#mail {
  color: var(--pink);
  text-decoration: none;
}