:root,
    :root.light {
    --bg-color: #F5F5F5;
    --text-color: #2F2F2F;
    --cool: #8B8B8B;
    }
    :root.dark {
    --bg-color: #2F2F2F;
    --text-color: #F5F5F5;
    --cool: #8B8B8B;
    }

body 
{
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: block;
  margin-top:2%;
  margin-left: 2%;
  margin-right: 2%;
}
div {
  margin-top: 0.5%;
}
.section-title
{
  color: var(--cool);
}
.container
{
  width: 100%;
  display:inline-block;
}

.ext-link
{
  color: var(--cool);
}

.read-more-item { 
  vertical-align: top; 
  height:auto !important; 
}
.read-more-content {
  display:none; 
  height:auto;
  margin:0;
  float: left;
}
.read-more-toggle-show {
  display: none; 
}
.read-more-toggle-hide:target + .read-more-toggle-show {
  display: inline; 
}
.read-more-toggle-hide:target {
  display: none; 
}
.read-more-toggle-hide:target ~ .read-more-content {
  display:inline; 
}
.read-more-toggle-hide, .read-more-toggle-show {
width: 30px;
height: 30px;
border-radius: 30px;
font-size: 20px;
opacity: .95;
margin-right: 0;
float: left;
margin-bottom: 25px;
}

/* minimal + and - signs */
.read-more-toggle-hide:link, .read-more-toggle-show:link, .read-more-toggle-hide:hover, .read-more-toggle-show:hover, .read-more-toggle-hide:visited, .read-more-toggle-show:visited, .read-more-toggle-hide:active, .read-more-toggle-show:active 
{
  color: var(--text-color);
  text-decoration: none;
}

.read-more-content p{
  height:auto;
  margin:0;
}
.read-more-label {
  float: left;
  height: auto;
  width: 90%;
  line-height: 20px;
  padding-left: 20px;
  margin-bottom: 25px;
  font-style: italic;
}
.footer {
  height: 5%;
  margin-left: 2%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex inline-block;
  flex-grow: 0;
  flex-shrink: 0;
}

.footer > p {
  text-align: center;
}

#toggle-theme
{
  text-align: center;
}