<!--
    footer.html
    Footer for all pages
    Stephan Gahima
-->

<table class="contant-info">
    <thead>
        <tr>
            <th>
                <a id="mail" href="mailto:stphnghm@proton.me">
                    mail
                </a>
            </th>
            <th>
                <a class="ext-link" href="https://www.linkedin.com/in/stphnghm/">
                    linkedin
                </a>
            </th>
            <th>
                <a class="ext-link" href="https://github.com/tennets">
                    github
                </a>
            </th>
        </tr>
    </thead>
</table>
<div style="height: 50px;"></div>
<small class="footer-copyright">
    &copy; Stephan Gahima. All right reserved. | <a class="int-link" href="/pages/privacy-policy.html">Privacy Policy</a>
</small>