<!--
    footer.html
    Footer for all pages
    Stephan Gahima
-->


<small class="footer-copyright">
    &copy; 2025 <a class="int-link" href="#" >Stephan Gahima</a>. All right reserved. | <a class="int-link" href="/privacy-policy.html">Privacy Policy</a>
</small>
<small>
    Words I care about:
    <a class="ext-link" href="https://theoceancleanup.com/">
        clean
    </a>
    , 
    <a class="ext-link" href="https://climateclock.world/">
        climate
    </a>
    , 
    <a class="ext-link" href="https://www.fairtrade.net/">
        fair
    </a>
    , 
    <a class="ext-link" href="https://www.fsf.org/">
        free
    </a>
    , 
    <a class="ext-link" href="https://wri-irg.org/en">
        peace
    </a>
</small>
