<!--
    meta.html
    Meta tags for all pages
    Stephan Gahima
-->


<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="robots" content="follow"/>
<meta name="robots" content="index"/>
<meta name="description" content="Personal website of Stephan Gahima. A free experimentation, different from a boring LinkedIn profile."/>
<meta name="keywords" content="Stephan, Gahima, Website, Contact, Email, Projects, Certificate, UPC, CIMNE"/>
<meta name="author" content="Stephan Gahima"/>
<meta name="copyright" content="Stephan Gahima"/>